{% extends "base.html" %}

{% block content %}
    <p>
        Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути Дратути
    </p>
{% endblock %}